@model Vidly.Models.MovieFormViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@using (Html.BeginForm("Save", "Movies"))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-4" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>

    <div>
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0: dd MMM, yyyy}", new { @class = "form-control col-4" })
        @Html.ValidationMessageFor(m=>m.ReleaseDate)
    </div>

    <div>
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(
            m => m.GenreId,
            new SelectList(Model.Genres, "Id", "Name"),
            "Select Movie Genre",
            new { @class = "form-control col-4" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div>
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control col-4" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @*If we remove the MovieId hidden field. Save action always receive 0 for MovieId property.*@

    <button type="submit" class="btn btn-primary m-2">SAVE</button>
}